@model BookShop.Models.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>عضویت در فروشگاه میزفا</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="page-wrapper flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card p-4">
                        <div class="card-header text-center text-uppercase h4 font-weight-light">
                            عضویت در فروشگاه میزفا
                        </div>
                        <hr />
                        <div asp-validation-summary="ModelOnly">

                        </div>
                        <form asp-action="Register">
                            <div class="card-body py-2">
                                <div class="form-group">
                                    <label class="form-control-label" asp-for="UserName"></label>
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="نام کاربری">
                                </div>


                                <div class="form-group">
                                    <label class="form-control-label" asp-for="Email"></label>
                                    <input type="text" class="form-control" asp-for="Email" placeholder="ایمیل">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" asp-for="PhoneNumber"></label>
                                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="شماره موبایل">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" asp-for="Password"></label>
                                    <input class="form-control" asp-for="Password" placeholder="کلمه عبور">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" asp-for="ConfirmPassword"></label>
                                    <input class="form-control" asp-for="ConfirmPassword" placeholder="تکرار کلمه عبور">
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">عضویت در سایت</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./vendor/jquery/jquery.min.js"></script>
</body>
</html>